body {
  margin-left: 2%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1 {
  color: rgb(69, 58, 58);
}

h3 {
  color: rgb(69, 58, 58);
  margin: 5% 0;
}

h4 {
  color: darkred;
  margin: 1% 0;
}

p {
  color: rgb(69, 58, 58);
  margin: 1% 0;
  font-size: 0.85rem;
}

form {
  display: table;
}

label {
  color: rgb(69, 58, 58);
  padding: 0 1.5%;
  font-size: 0.85rem;
  display: table-cell;
}

input {
  margin-left: 0.5%;
  align-items: right;
  display: table-cell;
}

button {
  margin: 3% 1.5%;
}

button:active {
  background-color: slategrey;
  color: white;
  border-radius: 3px;
}

div.form-group {
  line-height: 16px;
}